@import url("./_fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter font-normal bg-background text-primary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17.45px;
  height: 17.45px;
  border-radius: 50%;
  border: 2px solid #4EA8DE;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: #5E60CE;
  border-color: #5E60CE;
}

input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin: auto;
  position: relative;
  top: -2px;
}

a {
  color: #5E60CE;
}

* {
  outline: 1px solid yellowgreen;
}